<hr>
<li><a href="#" data-key="line-height-menu" class="line-height-menu">Line Height</a>
  <ul class="submenu">
    <select class="height-selection">
      <option value="dummy" selected>Interligne</option>
      <option value="1">1x</option>
      <option value="2">1.5x</option>
      <option value="3">2x</option>
    </select>
  </ul>
</li>

